<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>xoxo_findAll</title>
</head>
<body>
<h2>findAll.html~</h2>
<table>
    <thead>
        <tr>
            <th>번호</th>
            <th>이메일</th>
            <th>비번</th>
            <th>이름</th>
            <th>조회</th>
            <th>조회(ajax)</th>
            <th>삭제(get)</th>
            <th>조회(delete)</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="member: ${memberList}">
            <td th:text="${member.memberId}">번호</td>
            <td th:text="${member.memberEmail}">메일</td>
            <td th:text="${member.memberPassword}">비번</td>
            <td th:text="${member.memberName}">이름</td>
            <td><a th:href="@{|/member/${member.memberId}|}">조회</a></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</body>
</html>